@use '../config/colors.scss' as colors;
@use '../mixins/media-breaks.scss' as mixins;

@import url(get_public_init() + 'icons/ci-icons.css');

html {
	font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

body{
	background-image: public_url("img/album.jpg");
	background-repeat: no-repeat;
	background-size: 100% 45%;
	background-position: center rempi(-400);
	position: relative;

	@include mixins.media-max-width(470){
		background-size: 180% 45%;
		background-position: center rempi(-100);  
	}

	&::after{
		width: 100%;
		height: 100%;
		top: 0;
		display: block;
		content: " ";
		background: linear-gradient(transparentize(colors.$primary, .6) 0%, transparentize(colors.$primary, .8) 16%,colors.$black 25% , colors.$black 100%);
		backdrop-filter: blur(rempi(5)) brightness(38%);
		position: absolute;
		z-index: -3;
	}

	&::-webkit-scrollbar{
		display: block;
		width: rempi(5);
		overflow: auto;
		background-color: colors.$black;
	}

	&::-webkit-scrollbar-thumb{
		background-color: #e1e1e1;
	}
}
