{% block footer %}
    <footer class="Footer">
        <div class="Footer-menu">
            <div class="Footer-info">
                <a href="">About Monstercat</a>
                <a href="">Contact Us</a>
                <a href="">Careers</a>
                <a href="">News</a>
                <a href="">Press</a>
            </div>
            <div class="Footer-privacy">
                <a href="">Terms of service</a>
                <a href="">Privacy policy</a>
            </div>
            <div class="Footer-newsletter">
                <div class="Footer-newsInfo">
                    <h3>Monstercat News</h3>
                    <p>Don´t miss a thing, stay up to date with the latest news from us</p>
                </div>
                <form class="Form" id="newsletter">
                    <div class="Form-group">
                        <input type="email" name="userEmail" required placeholder="Enter email">
                        <button type="submit" class="btn">
                            <span class="ci--send-arrow"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="Footer-disclaimer">
            <div class="Footer-copyright">
                2011 - 2023 &copy; Monstercat, All Rights Reserved
            </div>
            <nav class="Footer-contact">
                <a href="https://www.youtube.com/watch?v=7nObtWENgxA&list=PLyBpB3ighZijdaq0QsA77iQVvE39gJ9-U&index=2&t=0s">
                    <span class="ci--youtube"></span>
                </a>
                <a href="https://www.instagram.com/monstercat/?hl=es">
                    <span class="ci--instagram"></span>
                </a>
                <a href="https://www.tiktok.com/@monstercat?lang=es">
                    <span class="ci--tiktok"></span>
                </a>
                <a href="https://twitter.com/Monstercat?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                    <span class="ci--twitter"></span>
                </a>
                <a href="https://open.spotify.com/playlist/4vM8ONc8HQ9odCaEZTEv89?si=7DJVqY5dTJm6rfylntpAHg">
                    <span class="ci--spotify"></span>
                </a>
                <a href="https://music.apple.com/ca/album/level-days/1508531211">
                    <span class="ci--apple"></span>
                </a>
                <a href="https://www.twitch.tv/monstercat">
                    <span class="ci--twitch"></span>
                </a>
                <a href="https://www.facebook.com/monstercat/?locale=es_LA">
                    <span class="ci--facebook"></span>
                </a>
                <a href="https://discord.com/invite/monstercat">
                    <span class="ci--discord"></span>
                </a>
                <a href="https://triller.co/@monstercat">
                    <span class="ci--triller"></span>
                </a>
                <a href="https://player.monstercat.app/release/MCLP017">
                    <span class="ci--player"></span>
                </a>
            </nav>
        </div>
        <div class="Footer-message">
            <p>
                We acknowledge with gratitude the traditional, ancestral and unceded land of the Coast Salish peoples, including the territories of the Sḵwx̱wú7mesh (Squamish), Stó:lō and Səl̓ílwətaʔ/Selilwitulh (Tsleil-Waututh) and xʷməθkʷəy̓əm (Musqueam) Nations, on which Monstercat's Vancouver HQ stands.
            </p>
            <p>
                We acknowledge the unceded and ancestral territories of the Gabrielino/Tongva peoples on which our LA team live and work.
            </p>
        </div>
    </footer>
{% endblock %}